In [1]:
import pandas as pd
import sklearn as skl

pd.options.display.max_columns = None

In [2]:
teams = pd.read_csv("..\Data\DataFiles\Teams.csv")
confs = pd.read_csv("..\Data\DataFiles\Conferences.csv")
ncaa = pd.read_csv("..\Data\DataFiles\\NCAATourneyDetailedResults.csv")
reg = pd.read_csv("..\Data\DataFiles\RegularSeasonDetailedResults.csv")
seeds = pd.read_csv("..\Data\DataFiles\\NCAATourneySeeds.csv")
confTourney = pd.read_csv("..\Data\DataFiles\ConferenceTourneyGames.csv")
teamConf = pd.read_csv("..\Data\DataFiles\TeamConferences.csv")

In [3]:
teams.to_hdf("Teams.h5", key = "df", mode = "w")
confs.to_hdf("Conferences.h5", key = "df", mode = "w")
ncaa.to_hdf("NCAATourneyDetailedResults.h5", key = "df", mode = "w")
reg.to_hdf("RegularSeasonDetailedResults.h5", key = "df", mode = "w")
seeds.to_hdf("NCAATourneySeeds.h5", key = "df", mode = "w")
confTourney.to_hdf("ConferenceTourneyGames.h5", key = "df", mode = "w")
teamConf.to_hdf("TeamConferences.h5", key = "df", mode = "w")

In [4]:
ncaa.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,11,29,17,26,14,30,17,12,5,3,22,29,67,12,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,7,23,11,14,11,36,22,16,10,7,8,20,64,4,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,6,14,16,22,10,27,18,9,7,4,19,25,69,7,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,3,7,18,25,11,20,15,18,13,1,19,27,60,7,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,7,20,15,23,18,20,17,13,8,2,14,25,56,9,21,15,20,10,26,16,14,5,8,19

In [5]:
reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14

In [6]:
ncaa['tourney'] = 1
ncaa.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,tourney
0,2003,134,1421,92,1411,84,N,1,32,69,11,29,17,26,14,30,17,12,5,3,22,29,67,12,31,14,31,17,28,16,15,5,0,22,1
1,2003,136,1112,80,1436,51,N,0,31,66,7,23,11,14,11,36,22,16,10,7,8,20,64,4,16,7,7,8,26,12,17,10,3,15,1
2,2003,136,1113,84,1272,71,N,0,31,59,6,14,16,22,10,27,18,9,7,4,19,25,69,7,28,14,21,20,22,11,12,2,5,18,1
3,2003,136,1141,79,1166,73,N,0,29,53,3,7,18,25,11,20,15,18,13,1,19,27,60,7,17,12,17,14,17,20,21,6,6,21,1
4,2003,136,1143,76,1301,74,N,1,27,64,7,20,15,23,18,20,17,13,8,2,14,25,56,9,21,15,20,10,26,16,14,5,8,19,1

In [7]:
reg['tourney'] = 0
reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,tourney
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20,0
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16,0
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23,0
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23,0
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14,0

In [12]:
losers = reg[['Season', 'LScore', 'LTeamID', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
winners = reg[['Season', 'WScore', 'WTeamID', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]

In [13]:
winners.head()

,Season,WScore,WTeamID,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,2003,68,1104,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,70,1272,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,73,1266,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,56,1296,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,77,1400,30,61,6,14,11,13,17,22,12,14,4,4,20

In [14]:
losers.head()

,Season,LScore,LTeamID,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,62,1328,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,63,1393,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,61,1437,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,50,1457,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,71,1208,24,62,6,16,17,27,21,15,12,10,7,1,14

In [15]:
for name in losers.columns :
    losers  = losers.rename(columns={name:name.replace("L", "")})
losers.head()

,Season,Score,TeamID,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,62,1328,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,63,1393,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,61,1437,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,50,1457,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,71,1208,24,62,6,16,17,27,21,15,12,10,7,1,14

In [ ]:
for name in losers.columns :
    losers  = losers.rename(columns={name:name.replace("L", "")})
losers.head()

In [16]:
for name in winners.columns :
    winners  = winners.rename(columns={name:name.replace("W", "")})
winners.head()

,Season,Score,TeamID,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,68,1104,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,70,1272,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,73,1266,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,56,1296,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,77,1400,30,61,6,14,11,13,17,22,12,14,4,4,20

In [18]:
regStats = winners.append(losers, ignore_index = True)
regStats.head()

,Season,Score,TeamID,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,68,1104,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,70,1272,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,73,1266,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,56,1296,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,77,1400,30,61,6,14,11,13,17,22,12,14,4,4,20

In [19]:
means = regStats.groupby(['Season', 'TeamID']).mean()
means.head()

                   Score        FGM        FGA      FGM3       FGA3  \
Season TeamID
2003   1102    57.250000  19.142857  39.785714  7.821429  20.821429
       1103    78.777778  27.148148  55.851852  5.444444  16.074074
       1104    69.285714  24.035714  57.178571  6.357143  19.857143
       1105    71.769231  24.384615  61.615385  7.576923  20.769231
       1106    63.607143  23.428571  55.285714  6.107143  17.642857

                     FTM        FTA         OR         DR        Ast  \
Season TeamID
2003   1102    11.142857  17.107143   4.178571  16.821429  13.000000
       1103    19.037037  25.851852   9.777778  19.925926  15.222222
       1104    14.857143  20.928571  13.571429  23.928571  12.107143
       1105    15.423077  21.846154  13.500000  23.115385  14.538462
       1106    10.642857  16.464286  12.285714  23.857143  11.678571

                      TO       Stl       Blk         PF
Season TeamID
2003   1102    11.428571  5.964286  1.785714  18.750000
       1103    12.629630  7.259259  2.333333  19.851852
       1104    13.285714  6.607143  3.785714  18.035714
       1105    18.653846  9.307692  2.076923  20.230769
       1106    17.035714  8.357143  3.142857  18.178571

In [ ]:
#used for visualization only

In [8]:
allGames = ncaa.append(reg, ignore_index = True)
allGames.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,tourney
0,2003,134,1421,92,1411,84,N,1,32,69,11,29,17,26,14,30,17,12,5,3,22,29,67,12,31,14,31,17,28,16,15,5,0,22,1
1,2003,136,1112,80,1436,51,N,0,31,66,7,23,11,14,11,36,22,16,10,7,8,20,64,4,16,7,7,8,26,12,17,10,3,15,1
2,2003,136,1113,84,1272,71,N,0,31,59,6,14,16,22,10,27,18,9,7,4,19,25,69,7,28,14,21,20,22,11,12,2,5,18,1
3,2003,136,1141,79,1166,73,N,0,29,53,3,7,18,25,11,20,15,18,13,1,19,27,60,7,17,12,17,14,17,20,21,6,6,21,1
4,2003,136,1143,76,1301,74,N,1,27,64,7,20,15,23,18,20,17,13,8,2,14,25,56,9,21,15,20,10,26,16,14,5,8,19,1

In [9]:
allGames.to_hdf("AllGames.h5", key = "df", mode = "w")
reg.to_hdf("Teams.h5", key = "df", mode = "w")
ncaa.to_hdf("NCAATourneyDetailedResults.h5", key = "df", mode = "w")

In [10]:
WTeamConf = pd.DataFrame({'WTeamID':teamConf['TeamID']})
WTeamConf['WTeamConf'] = teamConf['ConfAbbrev']
WTeamConf['Season'] = teamConf['Season']
allGames = pd.merge(WTeamConf, allGames, on = ['WTeamID','Season'])

LTeamConf = pd.DataFrame({'LTeamID':teamConf['TeamID']})
LTeamConf['LTeamConf'] = teamConf['ConfAbbrev']
LTeamConf['Season'] = teamConf['Season']
allGames = pd.merge(LTeamConf, allGames, on = ['LTeamID','Season'])

allGames.head()

,LTeamID,LTeamConf,Season,WTeamID,WTeamConf,DayNum,WScore,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,tourney
0,1125,a_sun,2003,1209,a_sun,77,69,66,A,2,25,65,5,20,14,18,9,23,15,18,15,4,21,22,53,6,18,16,24,11,33,15,25,12,3,14,0
1,1125,a_sun,2003,1209,a_sun,122,76,58,H,0,28,45,6,11,14,21,7,25,13,18,7,11,18,20,65,6,33,12,17,20,13,7,15,12,0,20,0
2,1125,a_sun,2003,1240,a_sun,103,92,87,H,0,31,53,7,18,23,29,7,24,26,12,9,4,20,26,68,10,31,25,28,20,18,10,14,10,1,19,0
3,1125,a_sun,2003,1391,a_sun,96,85,80,A,0,32,60,8,14,13,17,10,19,13,17,11,2,22,28,50,9,25,15,26,10,21,18,23,13,4,22,0
4,1125,a_sun,2003,1407,a_sun,81,67,64,A,0,23,61,8,28,13,20,16,26,13,17,14,7,13,23,54,13,33,5,14,11,26,17,22,6,1,16,0

In [11]:
allGames.to_hdf("AllGames.h5", key = "df", mode = "w")